body {
  background-color: blue;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 4em;
}

img {
  height: auto;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: white;
}

#nameplate {
  border-style: solid;
  text-align: center;
}

#quote {
  padding-top: 50px;
}

