body {
  background-color: #586994;
  animation-name: grad-colour;
  animation-duration: 10s;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 4em;
  background-color: #B4C4AE;
  border: solid;
  border-radius: 2%;
  padding: 10px;
}

.center {
  text-align: center;
}

img {
  height: auto;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: #B4C4AE;
  border-style: solid;
  border-radius: 1%;

}

@keyframes grad-colour {
  from {background-color: #586994;}
  to {background-color: green;}
}

#nameplate {
  border-style: solid;
  text-align: center;
}

#quote {
  padding-top: 50px;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

