body {
  background-color: blue;
}
img {
  height: auto;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nameplate {
  border-style: solid;
  text-align: center;
}

#quote {
  padding-top: 50px;
}